*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}

body{
    background-color: rgb(247, 219, 177);
    color: black;
}

.patrons{
    display: none;
} 

.header p{
    text-align: center;
    padding: 15px;
    font-size: larger;
    font-weight: 300;
    color: beige;
    font-family: 'Anuphan', sans-serif;
}

header{
    background-color: rgb(230, 183, 56);
}

.cards{
    padding: 10px;
    margin: 10px;
    display: block
    ;
}

.card1{
    width: 100%;
    border: 5px solid rgb(187, 144, 26);
    display: inline-flex;
    padding: 2%;
    gap: 1%;
    border-radius: 10px;
}

.card1 .card-image{
    border: 1px solid rgb(187, 144, 26);
    border-radius: 5px;
    
}

.card2{
    width: 100%;
    border: 5px solid rgb(187, 144, 26);
    display: inline-flex;
    padding: 2%;
    gap: 1%;
    border-radius: 10px;
    margin-top: 2%;
}

.cards h2{
    text-decoration: underline;
    margin-bottom: 5px;
}

.images{
    justify-content: center;
    padding: 30px;
    margin: auto;
    
    text-align: center;

}

.images p{
    font-size: large;

}

.images img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .header p{
        text-align: center;
        padding: 30px;
        font-size: 28px;
        font-weight: 900;
        font-family: 'Anuphan', sans-serif;
    }

    .cards p{
        font-size: x-large;
    }

    .cards h2{
        font-size: xx-large;
    }
}